/node_modules
/public/hot
/New-Data
/public/storage
/public/uploads
/public/uploads
/database/seeders/cities.sql
/database/seeders/modules.sql
/database/seeders/permissions.sql
/storage/*.key
/vendor
/Old-data
.env
.env.backup
.phpunit.result.cache
/docker-compose.override.yml
/Homestead.json
/Homestead.yaml
/npm-debug.log
yarn-error.log
/composer.json
/composer.log
composer.json
composer.lock
/composer.lock
node_modules
